<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://s-media-cache-ak0.pinimg.com/originals/f9/d3/5d/f9d35d0a4b800054c6927de1464c2e98.jpg);">
  <div class="container">
    <%= yield %>
  </div>
</div>
