<div class="card-trip shadow-sm p-3 mb-2 bg-white rounded">
  <%= image_tag "https://static.essen-und-trinken.de/bilder/da/62/64897/galleryimage/hessam-hojati-mojito-unsplash.jpg", alt: "alttext" %>
  <div class="card-trip-infos">
      <h2><%= @cocktail.name %></h2>
  </div>
</div>
