<div class="card-trip shadow-sm p-3 mb-2 bg-white rounded">
  <!-- https://s-media-cache-ak0.pinimg.com/originals/f9/d3/5d/f9d35d0a4b800054c6927de1464c2e98.jpg -->
  <%= image_tag "https://static.essen-und-trinken.de/bilder/da/62/64897/galleryimage/hessam-hojati-mojito-unsplash.jpg", alt: "alttext" %>
  <div class="card-trip-infos">
      <h2><%= @cocktail.name %></h2>
  </div>
</div>
