<div class="shadow-sm mb-5 p-3 bg-white rounded">
  <div class="d-flex">
    <h1>The needed Ingredients</h1>
    <%= link_to "add", new_cocktail_dose_path(@cocktail), class: "btn btn-success mr-4 ml-auto justify-content-center", id: "add" %>
  </div>
  <ul class="justify-content-between p-3">
    <% @cocktail.doses.each do |dose| %>
      <div class="d-flex bd-highlight mb-3 d-flex align-items-start">
        <%= dose.ingredient.name %> | <%= dose.description %>
        <div class="ml-auto px-2 bd-highlight">
           <%= link_to "remove", dose_path(dose), method: :delete, class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
    <div class="d-flex">
    </div>
  </ul>
</div>
